[project]
	description = some tries for future
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hanssonb
[access "refs/for/refs/*"]
	read = group user/hanssonb
	push = group user/hanssonb
	label-Code-Review = -2..+2 group user/hanssonb
	label-Verified = -1..+1 group user/hanssonb
	rebase = group user/hanssonb
	removeReviewer = group user/hanssonb
	submit = group user/hanssonb
[access "refs/heads/*"]
	read = group user/hanssonb
	create = group user/hanssonb
	push = +force group user/hanssonb
	pushMerge = group user/hanssonb
[access "refs/tags/*"]
	push = +force group user/hanssonb
	pushTag = group user/hanssonb
	pushSignedTag = group user/hanssonb
